*.*
*
!*/
!Makefile
!README.md
!.gitignore
!*.[cSh]
!*.cpp
!scripts/*.mk
build/
repo/
libs/libc/
!/fsimg/share/files/num
!/fsimg/share/fonts/Courier-*.bdf
!/fsimg/share/music/little-star.ogg
!/fsimg/share/music/rhythm/Do.ogg
!/fsimg/share/music/rhythm/Re.ogg
!/fsimg/share/music/rhythm/Mi.ogg
!/fsimg/share/music/rhythm/Fa.ogg
!/fsimg/share/music/rhythm/So.ogg
!/fsimg/share/music/rhythm/La.ogg
!/fsimg/share/music/rhythm/Si.ogg
!/fsimg/share/music/rhythm/empty.ogg
!/fsimg/share/pictures/projectn.bmp
